:root {
    --grey: #282828;
    --dark-blue: #141922;
    --text-grey: #76797E;
    --height-orzBar: 100px;
    --width-sidebar: 200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    background: var(--dark-blue);
}


/* Macro Area */

.sidebar {
    width: var(--width-sidebar);
    height: calc(100vh - var(--height-orzBar));
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

main {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100vw - var(--width-sidebar));
    height: calc(100vh - var(--height-orzBar));
    padding-top: var(--height-orzBar);
    margin-left: 200px;
    overflow-y: auto;
}

.top-fixed {
    width: calc(100vw - var(--width-sidebar));
    height: var(--height-orzBar);
    position: fixed;
    background: #0d1016a1;
    top: 0;
    right: 0;
    z-index: 999;
}

.content {    
    margin: 1rem;
}

.commands {
    height: var(--height-orzBar);
    background: var(--grey);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    opacity: .6;
    color: white;
}

a:hover {
    opacity: 1;
}


/* Sidebar */

.sidebar {
    padding: .5rem .8rem;
    font-size: 14px;
}

.sidebar .logo {
    margin: 1rem 0;
    height: calc(80px - .5rem - 2rem);
}

.sidebar .logo img {
    width: 70%;
}

.sidebar .fas,
.sidebar .far {
    margin-right: .5rem;
}


/* Sidebar - class buttons */

.buttons img,
.sidebar-footer img {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
    vertical-align: middle;
}

.buttons .fas {
    font-size: 20px;
}

.buttons .library img,
.buttons .fas {
    vertical-align: middle;
}

.buttons .home,
.buttons .search,
.buttons .library {
    line-height: 2rem;
}

.buttons .home {
    margin-left: -0.8rem;
    padding-left: .5rem;
    border-left: solid 3px #ADFF2F;
}

.buttons .sdb-row:hover a{
    opacity: 1;
}

.buttons .sdb-row:active {
    margin-left: -0.8rem;
    padding-left: .5rem;
    border-left: solid 3px #ADFF2F;
}


/* Sidebar - class playlist */

.sidebar .playlist {
    margin-top: 1.5rem;
}

.sidebar .playlist h2 {
    font-size: 16px;
}

.fa-plus-square {
    font-size: 40px;
    vertical-align: middle;
}

.list-playlist {
    overflow: auto;
    flex-grow: 1;

}

.list-playlist a {
    display: inline-block;
    line-height: 2em;
}

#new-playlist-butt {
    line-height: 3rem;
}


/* Sidebar - class sidebar-footer */

.sidebar-footer .fa-arrow-alt-circle-down {
    font-size: 10px;
}

.sidebar-footer .fa-user-circle {
    font-size: 24px;
    vertical-align: middle;
}

.sidebar-footer hr {
    margin: .7em 0;
    border-color: var(--text-grey)
}


/* Main - button top-fixed */

main .top-fixed {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .top-fixed a{
    border-radius: 25px;
    color: white;
    border: solid 2px white;
    padding: .5rem 3rem;
    margin-right: 20px;
}

main .top-fixed a:hover {
    transform: scale(1.05);
}


/* Main - navigation menu */

main .main-nav {
    line-height: 4rem;
    vertical-align: middle;
    text-align: center;
}

.main-nav a {
    display: inline-block;
    line-height: 1.5em;
    text-transform: uppercase;
    margin: 0 1em;
    font-size: 20px;
}

.main-nav a:hover {
    color: white;
}


/* Main - content */

main .content {
    padding: 0 1em;
}

.content h1 {
    margin-top: 1em;
    font-size: 2rem;
}

.row {
    margin-top: 1em; 
    display: flex;
    flex-direction: row;
}

.row .songs {
    display: inline-block;
    width: calc((100% - 6rem) / 6);
    margin: 1rem .5rem;
}

.songs img {
    width: 100%;
}

.row h2,
.row p {
    margin-top: .5em;
    text-align: center;
}

.row h2 {
    font-size: 20px;
}

.grey {
    color: var(--text-grey);
    font-size: 14px;
    line-height: 2rem;
}

/* Main - Row-bottom */

.row-bottom img {
    border-radius: 50%;
}


/* Footer */

/* Left Column */

.col-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-left img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.col-left div {
    display: inline-block;
    vertical-align: middle;
}

.col-left .col-text {
    margin: 0 .5rem;
}

.col-text h4 {
    font-size: 14px;
    margin-bottom: -6px;
}

.col-text a {
    font-size: 12px;
}

.col-left .col-text a:hover {
    text-decoration: underline;
}

.music-buttons {
    margin-left: 1rem;
}

.music-buttons a {
    margin: 0 .5rem;
}


/* Middle Column */

.col-middle {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.col-middle .music-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.col-middle a {
    font-size: 20px;
    opacity: 1;
    vertical-align: middle;
    margin: 0 1rem;
}

.col-middle .fa-play-circle {
    font-size: 32px;
}


.music-bars {
    width: 80%;
    margin: 0 auto;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* The try with hr */
/* .music-bars hr {       
    display: inline-block;
    float: left;
    vertical-align: middle;
    height: 4px;
    margin-top: 10px;
    border: solid 1px transparent;
}

.current-time {
    width: 15%;
    background: rgb(162, 161, 161);
    border-radius: 10px;
}

.total-time {
    width: 65%;
    background: var(--text-grey);
    border-radius: 0 10px 10px 0;  
} */


.music-bars .total-time {
    display: inline-block;
    vertical-align: middle;
    height: 4px;
    width: 80%;
    background: var(--text-grey);
    border-radius: 10px;
    margin: 0 1rem;
}

.music-bars .current-time {
    width: 15%;
    height: 4px;
    background: rgb(162, 161, 161);
    border-radius: 10px;
}



/* Right Column */

.col-right {    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.col-right a {
    margin: 0 .5rem;
}

.col-right .total-time {
    display: inline-block;
    vertical-align: middle;
    height: 4px;
    width: 120px;
    background: var(--text-grey);
    border-radius: 10px;
    margin-left: .5rem;
}

.col-right .current-time {
    width: 20%;
    height: 4px;
    background: rgb(162, 161, 161);
    border-radius: 10px;