:root {
    --grey: #282828;
    --dark-blue: #141922;
    --text-grey: #76797E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;    
    color: white;
}

body {
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;  
    background: var(--dark-blue); 
}


/* Macro Area */

.sidebar {
    width: 200px;
    height: calc(100vh - 80px);
    background: black;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

main {
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    margin-left: 200px;    
}

.top-fixed {
    width: calc(100vw - 200px);
    height: 80px;
    position: fixed;
    background: #0d1016a1;
    top: 0;
    right: 0;
    z-index: 10;
}

.content {
    margin-top: 80px;
}

.commands {
    width: 100vw;
    height: 80px;
    background: var(--grey);
    position: fixed;
    bottom: 0;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--text-grey);    
}


/* Sidebar */

.sidebar {
    padding: .5rem .8rem;
    font-size: 14px;
}

.sidebar a:hover {
    color: white;
}

.sidebar .logo {
    margin: 1rem 0;
    height: calc(80px - .5rem - 2rem);
}

.sidebar .logo img {
    width: 70%;
}

.sidebar .fas,
.sidebar .far {
    margin-right: .5rem;
}


/* Sidebar - class buttons */

.buttons .library img {
    width: 20px;
    height: 20px;
    margin-right: .5rem;
}

.buttons .fas {
    font-size: 20px;
}

.buttons .library img,
.buttons .fas {
    vertical-align: middle;
}

.buttons .home,
.buttons .search,
.buttons .library {
    line-height: 2rem;
}

.buttons .home {
    margin-left: -0.8rem;
    padding-left: .5rem;
    border-left: solid 3px #ADFF2F;
}


/* Sidebar - class playlist */

.sidebar .playlist {
    margin-top: 1.5rem;
}

.sidebar .playlist h2 {
    font-size: 16px;
}

.fa-plus-square {
    font-size: 40px;
    vertical-align: middle;
}

.list-playlist {
    overflow: auto;
    flex-grow: 1;

}

.list-playlist a {
    display: inline-block;
    line-height: 2em;
}

#new-playlist-butt {
    line-height: 3rem;
}


/* Sidebar - class sidebar-footer */

.sidebar-footer .fa-arrow-alt-circle-down {
    font-size: 10px;
}

.sidebar-footer .fa-user-circle {
    font-size: 24px;
    vertical-align: middle;
}

.sidebar-footer hr {
    margin: .7em 0;
    border-color: var(--text-grey)
}


/* Main - button top-fixed */

main .top-fixed {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main .top-fixed a{
    border-radius: 25px;
    color: white;
    border: solid 2px white;
    padding: .5rem 3rem;
    margin-right: 20px;
}

main .top-fixed a:hover {
    transform: scale(1.05);
}